# Sealos App 里一个域名绑定一个端口
HOMEPAGE_PORT=8081
ID_PORT=8082
PODS_PORT=8083
API_PORT=8084
DISCOVERY_PORT=8085
BILLING_PORT=8086

# 同 namespace 可直接写 Service 名；跨 namespace 建议写全限定域名
HOMEPAGE_UPSTREAM=http://homepage.ns-1yl0rye9.svc.cluster.local:80
ID_UPSTREAM=http://xpod.ns-1yl0rye9.svc.cluster.local:80
PODS_UPSTREAM=http://xpod.ns-1yl0rye9.svc.cluster.local:80
API_UPSTREAM=http://xpod.ns-1yl0rye9.svc.cluster.local:80
DISCOVERY_UPSTREAM=http://discovery.ns-1yl0rye9.svc.cluster.local:80
BILLING_UPSTREAM=http://billing.ns-1yl0rye9.svc.cluster.local:80

# 上传/下载体积限制
CLIENT_MAX_BODY_SIZE=128m
