<div id="input-partial">
  <h1>找回密码</h1>
  <form method="post" id="mainForm">
    <p class="error" id="error"></p>

    <fieldset>
      <ol>
        <li>
          <label for="input-email">邮箱</label>
          <input id="input-email" type="email" name="email" autofocus>
        </li>
      </ol>
    </fieldset>

    <ul class="actions">
      <li><button type="submit" name="submit" disabled>发送重置邮件</button></li>
      <li><button type="button" id="input-login-link">返回登录</button></li>
    </ul>
  </form>
</div>
<div id="response-partial">
  <h1>邮件已发送</h1>
  <p>若该邮箱对应的账号存在，我们已发送一封重置邮件。</p>
  <p>如果几分钟内仍未收到，请检查垃圾邮件或重新发送。</p>

  <ul class="actions">
    <li><button type="button" id="response-login-link">前往登录</button></li>
    <li><button type="button" id="response-forgot-link">重新发送</button></li>
  </ul>
</div>

<script>
  setVisibility('response-partial', false);

  (async() => {
    const controls = await fetchControls('<%= idpIndex %>');

    setRedirectClick('input-login-link', controls.html.password.login);
    setRedirectClick('response-login-link', controls.html.password.login);
    setRedirectClick('response-forgot-link', controls.html.password.forgot);

    addPostListener(async() => {
      await postJsonForm(controls.password.forgot);
      // 切换到“邮件已发送”视图
      setVisibility('input-partial', false);
      setVisibility('response-partial', true);
    });
  })();
</script>
